##Tutorial de Python Spark

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.0-preview/spark-3.0.0-preview-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-preview-bin-hadoop2.7.tgz
!pip install -q findspark
#!apt-get install python-software-properties
#!add-apt-repository ppa:igraph/ppa /y
#!apt-get update
#!pip install -q python-igraph

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-preview-bin-hadoop2.7"
import findspark
findspark.init()
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext, SparkSession
from pyspark.sql.types import StructType, StructField, DoubleType, IntegerType, StringType
from time import sleep
from pyspark.streaming import StreamingContext
#Spark Contexto
#df = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

from pyspark.sql import SparkSession

ss = SparkSession \
    .builder \
    .appName("Dijkstra") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
    
sc.version

In [0]:
integer_RDD = sc.parallelize(range(10),10)

In [0]:
integer_RDD.collect()

In [0]:
integer_RDD.collectAsMap

In [0]:
integer_RDD.combineByKey

In [0]:
integer_RDD.count()

In [0]:
integer_RDD.countApprox

In [0]:
integer_RDD.countApproxDistinct()

In [0]:
integer_RDD.cache

In [0]:
integer_RDD.ctx

In [0]:
integer_RDD.glom().collect()

In [0]:
integer_RDD.coalesce(2).glom().collect()

In [0]:
integer_RDD.coalesce(5).glom().collect()

In [0]:
integer_RDD.cache()

In [0]:
integer_RDD.saveAsTextFile("/content/diretorio/particoes")

In [0]:
accum = sc.accumulator(0)
def test_accum(x):
  accum.add(x)

In [0]:
sc.parallelize([1,2,3,4]).foreach(test_accum)

In [0]:
accum.value

In [0]:
integer_RDD2 = sc.parallelize(([1,2],[1,2]),2)

In [0]:
integer_RDD2.cache()

In [0]:
integer_RDD2.take(2)

In [0]:
integer_RDD2.collect()

In [0]:
numero1 = integer_RDD2.filter(1)

In [0]:
print(numero1)

In [0]:
integer_RDD3 = sc.parallelize((['A'],['A'],['B']),2)

In [0]:
integer_RDD3.collect()

In [0]:
letra = integer_RDD3.filter('A')

In [0]:
letra.collect

In [0]:
x = sc.parallelize([1,2,3,4,5,6,7,8,9,10], 2)

In [0]:
# filter operation 
y = x.filter(lambda x: x % 2 == 0)
y.collect()

In [0]:
rdd_text = sc.parallelize(['Delete entry lines', '', '', '', '','No more'])
rdd_aux = rdd_text.filter(lambda x : x != '')
print (rdd_aux.collect())

In [0]:
rdd_text = sc.parallelize(['Delete entry lines', 'teste', '', '', '','No more'])
rdd_aux = rdd_text.filter(lambda x : x == 'teste')
print (rdd_aux.collect())

In [0]:
rdd_num = sc.parallelize([1, 1, 1, 1, 2, 2, 2, 3, 3, 4])
rdd_aux = rdd_num.filter(lambda x : x < 3)
print (rdd_num.collect())

##Estruturas de dados

###DATAFRAMES (simples)

In [0]:
##Declarar um DataFrame (vazio)
import pandas as pd
data = pd.DataFrame(columns=('order', 'family', 'num', 'sequence'))
data

In [0]:
##Adicionar dados ao DataFrame
data.loc[len(data)]=['Tymovirales','Alphaflexiviridae',1,'AACGTTAAUGGUGAA'] 
data.loc[len(data)]=['Tymovirales','Alphaflexiviridae',2,'AACGTTAAUGGUGAA']
data

In [0]:
##Declarar um DataFrame (com dados)
clases = ["clase 1"] * 5 + ["clase 2"] * 5
tipos = ["tipo 1"] * 2 + ["tipo 2"] * 3 + ["tipo 3"] * 2 + ["tipo 4"] * 3
valores = [0,1,2,3,4] + [5,6,7,8,9]
df = pd.DataFrame({"clase": clases, "tipo": tipos, "valor": valores})
df

In [0]:
print(df[:5])

In [0]:
##Selecione a coluna da turma
print (df ['clase'])

In [0]:
##Selecione duas colunas
print (df [['clase', 'tipo']])

In [0]:
##Calcular a média dos valores que podem ser calculados
print (df.mean ())

In [0]:
##Calcular a soma dos valores que podem ser calculados
print (df.groupby ('clase'). sum ())

In [0]:
##Contar os valores contábeis ignorando os valores nulos
print (df.groupby ('clase'). count ())

In [0]:
##Transformar uma coluna do quadro de dados em uma lista
print (df ['clase']. tolist ())

In [0]:
##Classificar valores por classe e tipo
print(df.sort_values(by=['clase','tipo'], ascending=[True,False]))

In [0]:
##Excluir duplicatas do quadro de dados
df.loc [len (df)] = ['clase 1', 'tipo 1', 1] 
df.loc [len (df)] = ['clase 1', 'tipo 1', 1] 
print (df) 
print (df.drop_duplicates ())

In [0]:
##Excluir duplicatas de uma coluna
print (df ['clase']. drop_duplicates (). values.tolist ())

In [0]:
##Substituir substring para todos os campos em uma coluna
df ['clase'] = df ['clase']. replace ({'': ''}, regex = True) 
print (df)

In [0]:
##Substituir substring para todos os campos do quadro de dados
df = df.replace ({'': ''}, regex = True) 
print (df)

In [0]:
##Filtrar por valores da coluna
df2 = df [df ['tipo'] == 'type1'] 
print (df2)

In [0]:
##Filtrar por colunas específicas do quadro de dados
df2 = df.filter(items=['clase', 'valor'])
print(df2)

In [0]:
##Filtar por valores de una columna que pertenezcan a un conjunto de datos
df2 = df[df['valor'].isin([3,6])]
print(df2)

In [0]:
##Filtar por valores que cumpla una condición
df2 = df[df['valor'] > 6]
print(df2)

In [0]:
##União de dois quadros de dados por coluna
df1 = pd.DataFrame({'A1': ['A0', 'A1', 'A2', 'A3'],
'B1': ['B11', 'B12', 'B13', 'B14'],
'C1': ['C11', 'C12', 'C13', 'C14']})


df2 = pd.DataFrame({'A2': ['A0', 'A2', 'A2', 'A4'],
'B2': ['B21', 'B22', 'B23', 'B24'],
'C2': ['C21', 'C22', 'C23', 'C24']})


result = df1.merge(df2, left_on='A1', right_on='A2', how='outer')

print(result)

#Matriz (simples)

In [0]:
import numpy as np
matrix_aux = [[1,2,3],
              [4,5,6]]

m = np.array(matrix_aux)
print(m)

In [0]:
l = np.zeros((3, 3))
print(l)

In [0]:
l = np.diag([1,1,1])
print(l)

In [0]:
##Acessar elementos da matriz
print(m[1,1])
print(m[:,2])
print(m[0,:])
print(m[0,::-1])

In [0]:
##Soma dos elementos da matriz
##Adicione todos os elementos
print(m.sum())

In [0]:
##Adicionar de uma linha da matriz
print(m[0,:].sum())

In [0]:
##Achatar uma matriz
print( m.flatten() )

In [0]:
##Concatenação de matrizes
print( np.concatenate((m,m), axis=0) )

In [0]:
##Operações aritméticas

In [0]:
m = np.array([[1,2,3],
              [4,5,6]])

v = np.array([[1,2,3]])
print( m * v)

##Listas

In [0]:
##Declaração de lista

In [0]:
list = list ()

list = []

lista = [1, 2, 3, 4]

lista = [1, 2, 'Olá', [3, 4]]

In [0]:
print(list)

In [0]:
print(lista)

In [0]:
##Exibir os elementos de uma lista

In [0]:
print(lista [2])

In [0]:
##Adicionar itens a uma lista
lista.append(5)
print(lista)

In [0]:
lista.append([6,7])
print(lista)

In [0]:
lista.extend([8,8,8])
print(lista)

In [0]:
##Excluir itens de uma lista
lista.remove(2)
print(lista)

In [0]:
##Contar o número de ocorrências de um item
n = lista.count(8)
print(n)

In [0]:
##Determine a posição em que um item está na lista
n = lista.index(1)
print(n)

In [0]:
n = lista.index('Olá')
print(n)

In [0]:
##Voltar a lista de cabeça para baixo
lista.reverse()
print(lista)

In [0]:
##Adicione valores nulos à lista
lista.append(float('NaN'))
print(lista)

In [0]:
##Remover valores nulos da lista simples
lista = ['A', 'B', np.nan, 'D']
lista = [x for x in lista if str(x) != 'nan']
print(lista)

In [0]:
##Remover duplicatas
lista = ['A','B','C','D','A','A']
lista = set(lista)
print(sorted(lista)) # É necessário ordenar

In [0]:
##Substituir partes da string em uma lista
lista = ['pececin','pececillo','pececilla']
lista = [words.replace('pece', 'salmon') for words in lista]
print(lista)

In [0]:
##Remova espaços na frente e atrás das palavras
lista = ['pececin ',' pececillo ',' pececilla']
lista = [words.split() for words in lista]
print(lista)

In [0]:
##Remova outros espaços entre as palavras
lista = ['pececin  primero',' pececillo   segundo',' pececilla tercera']
lista = [words.replace('   ', ' ') for words in lista]
lista = [words.replace('  ', ' ') for words in lista]
print(lista)

In [0]:
##Dividir duas listas item por item
a = [10,20,30,40,50,60,70,80,90]
b = [10,20,30,40,50,60,70,80,90]
c = [x/y for x, y in zip(a, b)]
print(c)

In [0]:
##Calcular metade de uma parte da matriz
l = np.array([1, 2, 3, 4])

print( l[l>2] )
print( np.mean(l[l>2]) )

##RDD (Spark)
##Criação de RDD

In [0]:
##Criação de coleções Python
lista = ['um','dois','dois','tres','quatro']
listardd = sc.parallelize(lista)
listardd = sc.parallelize(lista,4) # Inclua o número do cluster no qual dividir o RDD
print(listardd.collect()) # Visualizar as coleções RDD

In [0]:
##Criação de dicionários
dicRDD = sc.parallelize([("autor","Franz Kafka"), ("titulo","O Processo"),("ano",1499)]) # Importantes os corchetes []
print(dicRDD.collect()) # Visualizar as coleções RDD

In [0]:
##Criação a partir de dicionários 
a = sc.parallelize(['a','b','c','a'])
b = sc.parallelize([1,2,3,4])
rdd_kv = a.zip(b)
print(rdd_kv.collect())

##Lendo e gravando arquivos Apache Spark em Python

In [0]:
##Lendo arquivos externos no RDD
rdd_file = sc.textFile ("/home/file.txt")

In [0]:
##Gravar RDD em um diretório
rdd_file.saveAsTextFile ("/dbfs/RDD_dir")

##Operações com uma lista do Apache Spark em Python

In [0]:
##Exibir uma lista RDD
rdd = sc.parallelize([1, 1, 1, 1, 2, 2, 2, 3, 3, 4])
print (rdd.collect())

In [0]:
##Número de elementos RDD
print (rdd.count())

In [0]:
##Primeiro item
print (rdd.first())

In [0]:
##Dicionário com a frequência de cada item
print (rdd.countByValue())

In [0]:
##Selecione os 4 primeiros itens
print (rdd.take(4))

In [0]:
##Calcular a média
print (rdd.mean())

In [0]:
##Calcular a variação
print (rdd.variance())

In [0]:
##Calcular o desvio padrão
print (rdd.stdev())

##Operações com dicionários no Apache Spark em Python

In [0]:
##Ver um dicionário
a = sc.parallelize(['a','b','c','a'])
b = sc.parallelize([1,2,3,4])
rdd_kv = a.zip(b)
print (rdd_kv.collect())

In [0]:
##Acesse as chaves de um dicionário
print (rdd_kv.keys().collect())

In [0]:
##Acesse os valores de um dicionário
print (rdd_kv.values().collect())

In [0]:
##Multiplique por dois os valores de um dicionário
print (rdd_kv.mapValues(lambda x : x*2).collect())

In [0]:
##Adicione os valores de um dicionário por chave
print (rdd_kv.reduceByKey(lambda x,y: x + y).collect())

In [0]:
##Classificar os valores de um dicionário
print (rdd_kv.sortByKey(False).collect())
print (rdd_kv.sortByKey(True).collect())

In [0]:
##Classifique os 5 primeiros elementos do RDD
print (rdd.takeOrdered(5))

In [0]:
##Ordem inversa dos 5 primeiros elementos do RDD
print(rdd.takeOrdered(5, lambda x: -x))

In [0]:
##Ordenar o RDD inteiro e devolva outro RDD
rdd_aux = rdd.sortBy(lambda x: x)
print(rdd_aux.collect())

In [0]:
##Faça a ordem inversa de todo o RDD e retorne outro RDD
rdd_aux = rdd.sortBy(lambda x:-x)
print(rdd_aux.collect())

In [0]:
##Filtragem de Dados Numéricos
rdd_num = sc.parallelize ([1, 1, 1, 1, 2, 2, 2, 3, 3, 4])
rdd_num = rdd.filter(lambda x: x <3)
print (rdd_num.collect())

In [0]:
##Filtragem de dados em textos
rdd_text = sc.parallelize(['LULA LADRAO','VIADAO','CUZAO'])
rdd_aux = rdd_text.filter(lambda x : x != 'VIADAO')
print (rdd_aux.collect())

In [0]:
##Selecione uma amostra de 5 elementos com repetição "True"
print (rdd.takeSample(True, 5))

In [0]:
##Selecione os dados com repetição com um tamanho de amostra duplo
print (rdd.sample(True, 2).collect())

In [0]:
##União de conjuntos
group1 = sc.parallelize(['A','B','C','D']) 
group2 = sc.parallelize(['C','D','E','F']) 
rdd_aux = group1.union(group2) 
print (rdd_aux.collect())

In [0]:
##Interseção de conjuntos (AS LETRAS IGUAIS)
rdd_aux = group1.intersection(group2)
rdd_aux.collect()

In [0]:
##Crie um RDD que multiplique seus valores por 2 e adicione os resultados
rdd = sc.parallelize([1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2])
rdd2 = rdd.map(lambda x: x*2)
tSum = rdd2.reduce(lambda x,y: x+y)
print(tSum)

In [0]:
##Crie um dicionário com elementos (x, 1) e adicione ocorrências por elemento
rdd_text = sc.parallelize(['red', 'red', 'blue', 'green', 'green','yellow'])
print(rdd_text.collect())

rdd_aux = rdd_text.map(lambda x: (x,1))
print(rdd_aux.collect())

rdd_result = rdd_aux.reduceByKey(lambda x,y: x+y)
print(rdd_result.collect())

In [0]:
##PySpark reduceByKey
x = sc.parallelize([("a", 1), ("b", 1), ("a", 1), ("a", 1),
                    ("b", 1), ("b", 1), ("b", 1), ("b", 1)], 3)
 
# Aplicando a operação reduzirByKey em x
y = x.reduceByKey(lambda accum, n: accum + n)
print(y.collect())
# [('b', 5), ('a', 3)]
 
# Definir função associativa separadamente
def sumFunc(accum, n):
    return accum + n
 
y = x.reduceByKey(sumFunc)
print(y.collect())
# [('b', 5), ('a', 3)]

##Processamento em lote do Apache Spark em Python

In [0]:
##Dados Json usados ​​para análise
%fs head /databricks-datasets/structured-streaming/events/file-0.json

In [0]:
##Definir DataFrame específico do Spark
##O próprio "pyspark" do DataFrame do Spark acelera o processamento de dados
from pyspark.sql.types import *

pathText = "/databricks-datasets/structured-streaming/events/"
jsonSchema = StructType([ 
                 StructField("time", TimestampType(), True), 
                 StructField("action", StringType(), True) 
             ])

# DataFrame que representa dados do arquivo JSON
df = (
  spark
    .read
    .schema(jsonSchema)
    .json(pathText)
)

# Visualizar el DataFrame
display(df)

In [0]:
##Agrupe um DataFrame por minuto e digite
from pyspark.sql.functions import *

# Defina o DataFrame agrupado por minuto do original
df_by_min2 = (
  df
    .groupBy(
       df.action, 
       window(df.time, "1 minute"))   # 1 hour ...   
    .count()
)
# Visualizar o DataFrame
display(df_by_min2)

In [0]:
##Executar consultas SQL
# Armazene o DataFrame como uma tabela 
SparkQL df.createOrReplaceTempView ("view_df") 

# Execute o 
result = spark.sql("SELECT action, COUNT(time) as total FROM view_df GRUP BY action")

# Exiba o resultado do Consulta SQL 
result.show ()

##Uso de Pipes (Pipelines) no Apache Spark em Python
Exemplo de concatenação de tubos (tubulações)
Ele mostra um exemplo de como os elementos são incluídos em um pipe de forma que finalmente todos se reúnem no mesmo ponto, que chamamos de "recursos"

In [0]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler

# Definir o df Spark a utilizar, estouusando SS nao o SC
df = ss.createDataFrame([
    ('line_1', 1, 2, 3, 4),
    ('line_2', 5, 6, 7, 8),
    ('line_3', 9, 9, 9, 9)
], ("label", "x1", "x2", "x3", "x4"))

print(df)

# Defina um assembler das colunas 'x1' e 'x2' e use 'features1' como saída
assembler12 = VectorAssembler(inputCols=["x1", "x2"], outputCol="features1")
# Crie o pipeline
pipeline12 = Pipeline()
# Definir os estágios dos quais o pipeline é composto
pipeline12.setStages([assembler12])

# Defina um montador das colunas 'x3' e 'x4' e use 'features2' como saída
assembler34 = VectorAssembler(inputCols=["x3", "x4"], outputCol="features2")
# 
pipeline34 = Pipeline()
# Definir os estágios dos quais o pipeline é composto
pipeline34.setStages([assembler34])

# Defina um assembler das colunas 'features 1 e' features 2 'e tome' features 'como saída
assemblerResult = VectorAssembler(inputCols=["features1", "features2"], outputCol="features")
# Crie o pipeline
pipelineResult = Pipeline()
# Definir os estágios dos quais o pipeline é composto
pipelineResult.setStages([pipeline12, pipeline34, assemblerResult])

# Modelo de conexão do pypeline com dados de entrada 'df'
modelResult = pipelineResult.fit(df)
# Execute a transformação de dados usando o modelo
result_df = modelResult.transform(df)
# Mostrar os resultados
display(result_df)
print(result_df)

In [0]:
## Exemplo de concatenação dos pipelines 2 (otimizando frases)
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler

df = ss.createDataFrame([
    ('line_1', 1, 2, 3, 4),
    ('line_2', 5, 6, 7, 8),
    ('line_3', 9, 9, 9, 9)
], ("label", "x1", "x2", "x3", "x4"))

pipeline1 = Pipeline(stages=[
    VectorAssembler(inputCols=["x1", "x2"], outputCol="features1")
])

pipeline2 = Pipeline(stages=[
    VectorAssembler(inputCols=["x3", "x4"], outputCol="features2")
])

result = Pipeline(stages=[
    pipeline1, pipeline2, 
    VectorAssembler(inputCols=["features1", "features2"], outputCol="features")
]).fit(df).transform(df)

display(result)

In [0]:
#Exemplo de pipeline
# Cria o pipeline
pipelineResult = Pipeline()
display(pipelineResult)

# Definir os estágios dos quais o tubo é composto
pipelineResult.setStages([assembler12, assembler34, assemblerResult])
display(pipelineResult)

# Modelo de conexão de pipeline com dados de entrada 'df'
modelResult = pipelineResult.fit(df)
display(modelResult)

# Execute a transformação de dados usando o modelo
result_df2 = modelResult.transform(df)

# Mostrar os resultados
display(result_df2)

##Função Apache Spark em Python

In [0]:
## Exemplo de função no Spark Python
## Mostre um exemplo de função de mapa com spark.
def funcao_mapa(iterator): yield sum(iterator)
  
list = range(1,10)
parallel = sc.parallelize(list, 5)
parallel.mapPartitions(funcao_mapa).collect()

In [0]:
## Exemplo de Função 1
## Função que adiciona dois números inseridos por parâmetro
def soma(n1, n2): 
    total = n1 + n2 
    print (total)

soma(1,2)

In [0]:
## Exemplo de Função 2
## Função que retorna dois números passados ​​como uma lista
def soma(n1, n2):
    return n1 + n2

dados = [1, 2]
print (soma(*dados))

In [0]:
## Exemplo de Função 3
## Função que retorna dois números passados ​​como um dicionário
def soma(n1, n2): 
    return n1 + n2
 
dicionario = {"n1": 1, "n2": 2} 
print (soma(**dicionario))

## Análise de regressão linear em Python

In [0]:
## Exemplo de regressão linear simples em Python
## Um exemplo de regressão linear simples é mostrado em um conjunto de dados que são gerados aleatoriamente.

from sklearn.datasets.samples_generator import make_blobs
from sklearn.linear_model import LinearRegression
from time import time

# Geração de um conjunto de dados bidimensional X e Y
X, Y = make_blobs(n_samples=1000, centers=2, n_features=2, random_state=1)

start_time = time()

# Definir o modelo de regressão
model = LinearRegression()

# Calcular regressão
model.fit(X, Y)

# Calcular o tempo necessário para executar a regressão
elapsed_time = time() - start_time
print("Tempo decorrido: %.10f segundos." % elapsed_time)

# Mostrar resultados da regressão
m = model.coef_[0]
b = model.intercept_
print("declive=", m, "interceptar=", b)

In [0]:
## Exemplo de regressão linear simples no Python Spark
# -*- coding: utf-8 -*-
"""
Spark Regression
"""

from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from time import time
import random

# Geração de um conjunto de dados bidimensional
data = []
for x in range(10000):
    data.append( (random.randint(0,9), random.randint(0,9)) )
df = ss.createDataFrame(data, ("label", "data"))

df.show()

# Defina o canal que transforma os dados na entrada que a regressão usa
result = Pipeline(stages=[
    VectorAssembler(inputCols=["data"], outputCol="features")
]).fit(df).transform(df)

start_time = time()

# Definir o modelo de regressão
lr = LinearRegression(maxIter=50, regParam=1.12)

# Calcula a regressão
model = lr.fit(result)

# Calcula tiempo empregado para realizar a regressão
elapsed_time = time() - start_time
print("Tempo decorrido: %.10f segundos." % elapsed_time)

# Mostrar resultados da regressão
print(model.coefficients)
print(model.intercept)

# Sair do Spark
#sc.stop()

In [0]:
## Exemplo de regressão logística em Python
# Defina as bibliotecas a serem importadas
from sklearn.datasets.samples_generator import make_blobs
from sklearn.linear_model import LogisticRegression
from time import time

# Geração de um conjunto de dados bidimensional X e Y
X, Y = make_blobs(n_samples=1000, centers=2, n_features=2, random_state=1)

start_time = time()

# Definir o modelo de regressão
model = LogisticRegression()

# Calcular regressão
model.fit(X, Y)

# Calcular o tempo necessário para executar a regressão
elapsed_time = time() - start_time
print("Tempo decorrido: %.10f segundos." % elapsed_time)

# Mostrar resultados da regressão
m = model.coef_[0]
b = model.intercept_
print("declive=", m, "interceptar=", b)

In [0]:
##Análise de cluster não hierárquica K-significa no Spark Python
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from sklearn.cluster import KMeans
import sklearn.cluster.k_means_

# Defini o 'df' Spark a utilizar
df = ss.createDataFrame([
    ('line_1', 100, 10, 1),
    ('line_2', 200, 20, 2),
    ('line_3', 300, 30, 2),
    ('line_4', 300, 30, 3),
    ('line_5', 200, 20, 1),
    ('line_6', 100, 10, 1)
],  ("label", "x1", "x2", "x3"))

# Definir um assemblador das columnas 'x1', 'x2' y 'x3' que toma como saida 'aux_features'
assembler = VectorAssembler(inputCols=["x1", "x2","x3"], outputCol="features")

# Cria o pipeine
pipelineResult = Pipeline()
# Definir os estágios dos quais o tubo é composto
pipelineResult.setStages([assembler])

# Modelo de conexão de tubo com dados de entrada 'df'
modelResult = pipelineResult.fit(df)

# Execute a transformação de dados usando o modelo
result_df = modelResult.transform(df)


# Defini o modelo de k-means.
#kmeans = KMeans().setK(3).setSeed(1)
kmeans = KMeans()
model = kmeans.fit(result_df)

# Obter a soma quadrada de erros 'SSE'
SSE = model.computeCost(result_df)
print ("Soma quadrada de erros 'SSE' " + str(SSE))

# Obter o número de itens
n = result_df.count()

# Calcular o erro quadrático médio 'RMSE'
RMSE = math.sqrt(SSE/n)
print ("Error cuadratico medio: " + str(RMSE))

# Mostre os centróides.
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)